# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Build
*.class
*.jar
petclinic/petclinic-core/bin
petclinic/petclinic-core/build.gradle
petclinic/petclinic-core/build
petclinic/petclinic-web/build
petclinic/petclinic-web/build.gradle

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
petclinic/node_modules
